.menu{
  border: 1px solid #CC3300;
  padding: 5px 1px;
  background-color: #CCFFCC;
  text-align: center;
  font-weight: bold;
}
ul{ /* ƒƒjƒ…[‚ÌƒŠƒ“ƒN */
  list-style-type: none;
  margin-left: -32px;
  *margin-left: 8px; /* IE6 ‘Î‰ */
  line-height: 150%;
  font-size: 95%;
}
