a:link{   color: #0000FF;}
a:visited{color: #0000FF;}
a:active {color: #FF0000;}
a:hover { color: #FF0000;}
#room_list{
 background-color: #FFFFF;
 background-image: url("../img/old_log_bg.jpg");
 background-repeat: no-repeat;
 background-position: 100% 100%;
 background-attachment: fixed;
}
#room_list table{
 filter: alpha(opacity=80, enabled=80)
 -moz-opacity: 0.8;
 opacity: 0.8;
}
h1{
 font-size: 12pt;
 font-weight: normal;
}
h1 em{
 font-size: 15pt;
 font-weight: bold;
 font-style: normal;
}
table{
  border-width: 0;
  border-collapse:collapse;
}
td{border-width: 0;}
.list{text-align: right;}
.list td{text-align: right;}
.main{
  background-color: #CCCCCC;
  border: 1px solid #FFFFFF;
  text-align: center;
}
th{
  margin: 0px;
  padding : 3px 3px 3px 6px;
  border: 1px solid #FFFFFF;
  background-color: #526CD6;
  color: #FFFFFF;
  white-space: nowrap;
}
.main td{
  margin: 0px;
  padding : 3px 3px 3px 6px;
  background-color: #F2EACE;
  color: #333333;
  vertical-align: middle;
}
.number{border: 1px solid #FFFFFF;}
.upper td{
  border-top:    1px solid  #FFFFFF;
  border-right:  1px solid  #FFFFFF;
  border-left:   1px solid  #FFFFFF;
  border-bottom: 1px dotted #CCCCCC;
}
.lower td{
  border-width: 0px 1px 1px 1px;
  border-color: #FFFFFF;
  border-style: solid;
}
.comment{font-size: 75%;}
